code_analysis/__data/schemas/rimworld/rimworld_backstory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Backstories">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="PawnBio"/>
        <xs:element maxOccurs="unbounded" ref="Backstory"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="Backstory">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="Title"/>
          <xs:element ref="title"/>
        </xs:choice>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="TitleShort"/>
          <xs:element ref="titleShort"/>
          <xs:element ref="titleFemale"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="titleShortFemale"/>
        <xs:element minOccurs="0" ref="BaseDesc"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="baseDesc"/>
          <xs:element ref="bodyTypeFemale"/>
          <xs:element ref="bodyTypeMale"/>
          <xs:element ref="slot"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="Slot"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="SkillGains"/>
          <xs:element ref="SpawnCategories"/>
          <xs:element ref="WorkDisables"/>
          <xs:element ref="forcedTraits"/>
          <xs:element ref="spawnCategories"/>
          <xs:element ref="BodyTypeFemale"/>
          <xs:element ref="BodyTypeMale"/>
          <xs:element ref="requiredWorkTags"/>
          <xs:element ref="skillGains"/>
          <xs:element ref="workDisables"/>
        </xs:choice>
        <xs:choice minOccurs="0">
          <xs:element ref="BodyTypeGlobal"/>
          <xs:element ref="disallowedTraits"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="title" type="xs:string"/>
  <xs:element name="titleFemale" type="xs:string"/>
  <xs:element name="titleShortFemale" type="xs:string"/>
  <xs:element name="baseDesc" type="xs:string"/>
  <xs:element name="bodyTypeFemale" type="xs:NCName"/>
  <xs:element name="bodyTypeMale" type="xs:NCName"/>
  <xs:element name="slot" type="xs:NCName"/>
  <xs:element name="Slot" type="xs:NCName"/>
  <xs:element name="BodyTypeFemale" type="xs:NCName"/>
  <xs:element name="BodyTypeMale" type="xs:NCName"/>
  <xs:element name="requiredWorkTags">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="li"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="skillGains">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="li"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="workDisables">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="li"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayerCreatedBios">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="PawnBio"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PawnBio">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Name"/>
        <xs:element ref="Gender"/>
        <xs:element minOccurs="0" ref="PirateKing"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="Childhood"/>
          <xs:element ref="Adulthood"/>
        </xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Name">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="First"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="Last"/>
          <xs:element ref="Nick"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="First" type="xs:string"/>
  <xs:element name="Last" type="xs:string"/>
  <xs:element name="Nick" type="xs:string"/>
  <xs:element name="Gender" type="xs:NCName"/>
  <xs:element name="PirateKing" type="xs:NCName"/>
  <xs:element name="Childhood">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Title"/>
        <xs:choice>
          <xs:element ref="TitleShort"/>
          <xs:element ref="titleShort"/>
        </xs:choice>
        <xs:element ref="BaseDesc"/>
        <xs:element minOccurs="0" ref="WorkDisables"/>
        <xs:element ref="SkillGains"/>
        <xs:choice minOccurs="0">
          <xs:element ref="disallowedTraits"/>
          <xs:element ref="forcedTraits"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Adulthood">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Title"/>
        <xs:element ref="TitleShort"/>
        <xs:element ref="BaseDesc"/>
        <xs:element minOccurs="0" ref="WorkDisables"/>
        <xs:element ref="SkillGains"/>
        <xs:element minOccurs="0" ref="spawnCategories"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="BodyTypeGlobal"/>
          <xs:element ref="SpawnCategories"/>
          <xs:element ref="forcedTraits"/>
          <xs:element ref="BodyNameGlobal"/>
        </xs:choice>
        <xs:choice minOccurs="0">
          <xs:element ref="disallowedTraits"/>
          <xs:sequence>
            <xs:element ref="BodyNameFemale"/>
            <xs:element ref="BodyNameMale"/>
          </xs:sequence>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BodyNameGlobal" type="xs:NCName"/>
  <xs:element name="BodyNameFemale" type="xs:NCName"/>
  <xs:element name="BodyNameMale" type="xs:NCName"/>
  <xs:element name="Title" type="xs:string"/>
  <xs:element name="TitleShort" type="xs:string"/>
  <xs:element name="titleShort" type="xs:string"/>
  <xs:element name="BaseDesc" type="xs:string"/>
  <xs:element name="spawnCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="li"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="li">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="key"/>
        <xs:element ref="value"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="key" type="xs:NCName"/>
  <xs:element name="value" type="xs:integer"/>
  <xs:element name="forcedTraits">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0">
          <xs:element ref="Psychopath"/>
          <xs:element ref="Pyromaniac"/>
          <xs:element ref="AnnoyingVoice"/>
          <xs:element ref="Bloodlust"/>
          <xs:element ref="DislikesMen"/>
          <xs:element ref="Immunity"/>
          <xs:element ref="Industriousness"/>
          <xs:element ref="Kind"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="Tough"/>
        <xs:element minOccurs="0" ref="Nerves"/>
        <xs:element minOccurs="0" ref="SpeedOffset"/>
        <xs:choice minOccurs="0">
          <xs:element ref="Brawler"/>
          <xs:element ref="Gourmand"/>
          <xs:element ref="Neurotic"/>
          <xs:element ref="Undergrounder"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="DrugDesire"/>
        <xs:choice minOccurs="0">
          <xs:element ref="Abrasive"/>
          <xs:element ref="BodyPurist"/>
          <xs:element ref="NaturalMood"/>
          <xs:element ref="PsychicSensitivity"/>
          <xs:element ref="TooSmart"/>
          <xs:element ref="Wimp"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="Beauty"/>
        <xs:choice minOccurs="0">
          <xs:element ref="ShootingAccuracy"/>
          <xs:element ref="Ascetic"/>
          <xs:element ref="FastLearner"/>
          <xs:element ref="Greedy"/>
          <xs:element ref="Nimble"/>
          <xs:element ref="Transhumanist"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnnoyingVoice" type="xs:integer"/>
  <xs:element name="Bloodlust" type="xs:string"/>
  <xs:element name="DislikesMen" type="xs:integer"/>
  <xs:element name="Immunity" type="xs:integer"/>
  <xs:element name="Industriousness" type="xs:integer"/>
  <xs:element name="Kind" type="xs:integer"/>
  <xs:element name="Tough" type="xs:integer"/>
  <xs:element name="Nerves" type="xs:integer"/>
  <xs:element name="SpeedOffset" type="xs:integer"/>
  <xs:element name="Brawler" type="xs:integer"/>
  <xs:element name="Gourmand" type="xs:integer"/>
  <xs:element name="Neurotic" type="xs:integer"/>
  <xs:element name="Undergrounder" type="xs:string"/>
  <xs:element name="DrugDesire" type="xs:integer"/>
  <xs:element name="Abrasive" type="xs:integer"/>
  <xs:element name="BodyPurist" type="xs:integer"/>
  <xs:element name="NaturalMood" type="xs:integer"/>
  <xs:element name="PsychicSensitivity" type="xs:integer"/>
  <xs:element name="TooSmart" type="xs:string"/>
  <xs:element name="Wimp" type="xs:integer"/>
  <xs:element name="Beauty" type="xs:integer"/>
  <xs:element name="Ascetic" type="xs:integer"/>
  <xs:element name="FastLearner" type="xs:integer"/>
  <xs:element name="Greedy" type="xs:string"/>
  <xs:element name="Nimble" type="xs:integer"/>
  <xs:element name="Transhumanist" type="xs:integer"/>
  <xs:element name="WorkDisables">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="li"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkillGains">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="li"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpawnCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="li"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="disallowedTraits">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="Psychopath"/>
        <xs:element ref="Pyromaniac"/>
        <xs:element ref="ShootingAccuracy"/>
        <xs:element ref="Gay"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="Gay">
    <xs:complexType/>
  </xs:element>
  <xs:element name="BodyTypeGlobal" type="xs:NCName"/>
  <xs:element name="Pyromaniac" type="xs:string"/>
  <xs:element name="Psychopath" type="xs:string"/>
  <xs:element name="ShootingAccuracy" type="xs:integer"/>
</xs:schema>
